.LeftContainer {
    width: 22%;
    padding: 2rem
}

.RightContainer {
    width: 78%;
    padding: 3rem;
}

.App {
    display: flex;
    flex-direction: row;
}

.TrailItem {
    background-color: #bcd4db;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
}

.TrailItemsContainer {
    display: flex;
    column-gap: 25px;
    flex-wrap: wrap;
    row-gap: 20px;
}

h1 {
    text-align: center;
}

.SideBar {
    display: flex;
    flex-direction: column;
    margin: 15px 0px 0 0px;
    padding: 10px 10px 0;
    border: 2px solid #b8b4b4;
    background-color: #b5dfec;
    border-radius: 8px;
}